<div id="main">
    <div class="content">
        <div class="title">
            <h1>Producto agregado</h1>
        </div>
        <div class="product">
            <div class="product-data">
                <h3>Titulo</h3>
                <h4>{{title}}</h4>
            </div>
            <div class="product-data">
                <h3>Precio</h3>
                <h4>{{price}}</h4>
            </div>
            <div class="product-data col-2">
                <h3>Miniatura</h3>
                <div class="product-data-img">
                    <img src={{thumbnail}} alt="" >
                </div>
            </div>
        </div>
        <div class="form-buttons">
            <form action="/productos/vista" method="GET" enctype="application/x-www-form-urlencoded">
                <input class="option-form-button" type="submit" value="Regresar" />
            </form>
            <form action="/productos/vista/all" method="GET" enctype="application/x-www-form-urlencoded">
                <input class="option-form-button" type="submit" value="Ver todos" />
            </form>
        </div>
    </div>
</div>


