<div id="main">
    <div class="content">
        <div class="title">
            <h1>INGRESE PRODUCTO</h1>
        </div>
        <div class="form">
            <form action="/productos/vista" method="POST" enctype="application/x-www-form-urlencoded">
                Title: <br> <input type="text" name="title" id=""> <br>
                Price: <br> <input type="text" name="price" id=""> <br>
                Thumbnail: <br> <input type="text" name="thumbnail" id=""> <br>
                <input class="option-form-button" type="submit" value="Agregar" />
            </form>

            <form action="/productos/vista/all" method="GET" enctype="application/x-www-form-urlencoded">
                <input class="option-form-button" type="submit" value="Ver todos" />
            </form>
        </div>
    </div>
</div>

