* {
    margin: 0;
    padding: 0;
    background: rgb(255, 234, 176);
}

.options {
    width: 350px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.option {
    width: 100%;
    padding-top: 50px;
}

.option .option-title {
    height: 30px;
    width: 100%;
    text-align: center;
    font-weight: 700;
}


.option input {
    width: 100%;
    height: 22px;
    margin-bottom: 3px;
    background: rgb(255, 247, 226);
}

.option .option-form-button {
    height: 40px;
    margin-top: 5px;
    background: rgb(255, 211, 91);
}